{% extends "base.html" %}
{% block title %}Contact Us - IMDb Clone{% endblock %}

{% block content %}
<section class="max-w-3xl mx-auto">
  <h2 class="text-3xl font-bold mb-4">Contact Us</h2>
  <p class="text-gray-300 mb-4">
    Have any questions or feedback? We'd love to hear from you.
    <br/>
    Feel free to reach out: +91 95184 48771
  </p>
  {% comment %} <ul class="text-gray-400 space-y-2">
    <li><strong>Email:</strong> support@moviedbclone.com</li>
    <li><strong>X:</strong> @moviedbclone</li>
    <li><strong>GitHub:</strong> github.com/yourusername/moviedb</li>
  </ul> {% endcomment %}
</section>
{% endblock %}
